.switch-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: var(--text-color-dark);
  }
  
  .switch-switch-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .switch-switch {
    width: 60px;
    height: 30px;
    background-color: #ccc;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s;
  }
  
  .switch-switch-toggle {
    width: 26px;
    height: 26px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: transform 0.3s;
  }
  
  .switch-switch.active .switch-switch-toggle {
    transform: translateX(30px);
  }
  
  .switch-label {
    cursor: pointer;
    font-weight: bold;
  }

  .switch-active-label {
    color: var(--color-accent);
  }

  .switch-profile-container {
    text-align: center;
    margin-bottom: 70px;
  }