.switch-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  font-family: 'Arial', sans-serif;
  color: var(--text-color-dark);
}

.switch-switch-container {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  gap: 15px;
}

.switch-switch {
  width: 80px;
  height: 40px;
  background-color: #ccc;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.2s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.switch-switch-toggle {
  width: 36px;
  height: 36px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: transform 0.3s ease, box-shadow 0.2s ease;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.switch-switch.active .switch-switch-toggle {
  transform: translateX(40px);
}

.switch-label {
  cursor: pointer;
  font-weight: 600;
  font-size: 25px;
  user-select: none;
}

.switch-active-label {
  color: var(--color-accent);
}

.switch-profile-container {
  text-align: center;
  margin-bottom: 80px;
}
