.competences-bold {
  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: 800;
}

.competences-border {
  border: 2px solid var(--color-primary);
  border-radius: var(--radius-md);
}

.competences-shieldp {
    margin-block: 15px;
}

.competences-shieldp > img {
    margin-inline: 5px;
    margin-top: 3px;
}

#competences-resume {
  margin-top: 15px;
  margin-bottom: 10px;
}

#competences-resume-title {
  margin-top: 15px;
  margin-bottom: 10px;
}