.topnav {
    height: 70px;
    padding: 0px 20px;
    background: var(--accent-primary);
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
  
/* Desktop Menu */
.menu {
    height: 100%;
    display: none;
}
  
  .menu a {
    height: 100%;
    display: inline-flex;
    align-items: center;
    padding: 0 20px;
    color: var(--text-color-light);
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .menu a:hover,
  .menu a.active-link {
    background: var(--accent-secondary);
    color: var(--text-color-dark);
    border-radius: 15px;
    height: 50px;
  }
  
  /* Mobile Menu Show & Close buttons */
  .show-mobile-menu-button {
    align-items: center;
    border: none;
    background: transparent;
    font-size: 36px;
    color: #fff;
    cursor: pointer;
  }
  
  .close-mobile-menu-button {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: transparent;
    font-size: 50px;
    color: #fff;
    cursor: pointer;
  }
  
  /* Mobile Menu */
  .mobile-menu {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.85);
    transition: 0.3s;
  }
  
  .mobile-menu a {
    padding: 10px 0px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
  }
  
  /* Media queries for responsiveness */
  @media screen and (min-width: 700px) {
    .topnav {
      justify-content: flex-start;
    }
  
    .show-mobile-menu-button {
      display: none;
    }
  
    .menu {
      display: flex;
      align-items: center;
    }
  }
  
  /* Other styles */
  .content {
    padding: 40px 20px;
  }
  
  