:root {
    --text-red: #b2452f;      /* Le texte rouge/rose */
    --placeholder-gray: #D9D9D9;
    --accent-primary: #1e2b50; /* Le vert mousse du header/footer */
    --bg-primary-1: #2a4282; 
    --bg-primary-2: #0096c8;      /* Le fond des cartes */
    --accent-secondary: #ffffff80;
    --text-color-dark: #4A4A4A;
    --text-color-light: #fff;
    --accent-underline: #e91e63;
    --background: #FAF9F6;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: var(--background);
}