.footer-footer{
    padding: 70px 0;
    background-color: var(--color-secondary);
}

.footer-container{
	max-width: 1170px;
	margin:auto;
}

.footer-row{
	display:block;
	margin-left: 10%;
}

.footer-ul {
	list-style: none;
	margin-bottom: 50px;
}

@media screen and (min-width: 1206px) {
	.footer-row{
		display: flex;
		margin-left: 0%;
	}
	.footer-ul {
		margin-bottom: 0px;
	}
}

.footer-col{
	width: 25%;
}

.footer-col .footer-h4{
	font-size: 18px;
	color: #ffffff;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	bottom: -10px;
	background-color: var(--color-accent);
	height: 2px;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	margin-left: -30px;
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: var(--color-bg-light);
	padding-left: 8px;
}
.footer-col .social-links a {
    display: inline-block;
    align-items: center;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.2);
    margin-block: 15px;
    margin-right: 10px;
    padding: 10px;
    text-decoration: none;
    border-radius: 30px;
    color: var(--color-bg-light);
    transition: all 0.5s ease;
}

.social-links span {
    margin-right: 7px;
	vertical-align:text-top;
}

.social-links svg {
    margin-right: 7px;
	vertical-align:middle;
	margin-left: 7px;
}

.social-links a:hover{
	color: #24262b;
	background-color: var(--color-bg-light);
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}



