.footer-container{
	max-width: 1170px;
	margin:auto;
}

.row{
	display: flex;
	flex-wrap: wrap;
}

ul{
	list-style: none;
}

.footer{
    padding: 70px 0;
    background-color: var(--accent-primary);
}

.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: var(--accent-underline);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: var(--background);
	padding-left: 8px;
}
.footer-col .social-links a {
    display: inline-block;
    align-items: center;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.2);
    margin-top: 15px;
    margin-right: 10px;
    padding: 10px;
    text-decoration: none;
    border-radius: 30px;
    color: var(--background);
    transition: all 0.5s ease;
}

.footer-col .social-links span {
    margin-right: 7px;
	vertical-align:text-top;
}

.footer-col .social-links svg {
    margin-right: 7px;
	vertical-align:text-top;
}


.footer-col .social-links a:hover{
	color: #24262b;
	background-color: var(--background);
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}



