:root {
    --text-red: #8d3828;      /* Le texte rouge/rose */
    --placeholder-gray: #D9D9D9;
    --accent-primary: #4a6b4b; /* Le vert mousse du header/footer */
    --bg-primary: #F2EFE4;      /* Le fond des cartes */
    --accent-secondary: #ffffff80;
    --text-color-dark: #4A4A4A;
    --text-color-light: #f2f2f2;
    --accent-underline: #e91e63;
    --background: #FAF9F6;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: var(--background);
}